

__pycache__/
*.py[cod]
*$py.class


*.so


.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


pip-log.txt
pip-delete-this-directory.txt


htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/


.ipynb_checkpoints


.vscode/
.idea/
*.sublime-workspace
*.sublime-project


.DS_Store
Thumbs.db


*.log
*.tmp
*.swp


*.csv
*.xlsx
*.tsv
*.json
*.zip
*.tar.gz
*.h5
*.pkl
*.db